<div class="navbar bg-base-100 shadow-sm relative z-[9999]">
  <div class="flex-1">
    <img routerLink="/" class="w-50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Cinemark_Logo.svg/2560px-Cinemark_Logo.svg.png" alt="Cinemark_Logo">
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a routerLink="/">inicio</a>
      </li>
      <li>
        <a routerLink="/taquilla">taquilla</a>
      </li>
      <li>
        <details>
          <summary>confitería</summary>
          <ul class="bg-base-100 rounded-t-none p-2 w-25 overflow-hidden justify-start">
            <li><a>combos</a></li>
            <li><a>promociones</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
